@font-face {
    font-family: "Track";
    src: url(Track.ttf) format("truetype");
}

.optionsContainer {
    margin-bottom: 1%;
}

body {
    padding-top: 1%;
    height: 100%;
    background-color: #95a5a6;
}

html {
    height: 95%;
    background-color: #95a5a6;
}

.optionText {
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    text-decoration: underline;
    font-family: 'Track';
}

.button {
    display: inline-block;
    background-color: #2c3e50;
    vertical-align: middle;
    text-align: center;
    color: orange;
    text-decoration: none;
    font-family: 'Track';
    font-size: 20px;
    letter-spacing: 1.9px;
    vertical-align: middle;
    transition: .2s;
    line-height: 80px;
    border: 4px solid white;
    transition: 1s;
    font-weight: bolder;
    opacity: 100%;
    width: 100%;
}

.button:hover {
    background-color: rgb(58, 83, 155);
    color: white;
    border: 4px solid #95a5a6;
    transition: 1s;
}

.container-fluid {
    height: 100%;
}

#buttons {
    text-align: center;
    margin-top: 20%;
}

#container {}

.basic-slide {
    display: inline-block;
    text-align: center;
    width: 70%;
    padding: 10px 0 10px 15px;
    font-family: "Track", sans;
    font-weight: 400;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    transition: all .3s ease-in-out;
}

.basic-slide::-webkit-input-placeholder {
    color: orange;
    text-indent: 0;
    font-weight: 300;
}

.basic-slide + label {
    display: inline-block;
    position: absolute;
    padding: 10px 10px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background-color: #2c3e50;
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.basic-slide:focus,
.basic-slide:active {
    color: orange;
    text-indent: 0;
    background: black;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.basic-slide:focus::-webkit-input-placeholder,
.basic-slide:active::-webkit-input-placeholder {
    color: orange;
}

.basic-slide:focus + label,
.basic-slide:active + label {
    transform: translateX(-10%);
}

#labelGT {
    position: absolute;
    left: 10%;
    width: 15%;
    color: orange;
}

#optionGT {
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    text-decoration: underline;
    font-family: 'Track';
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #labelGT {
        display: none !important;
    }
}

#rowBtn {}

//  ---------------------------------------
.table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.table-fill {
    font-family: 'Track';
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    top: 20%;
    height: 60%;
    width: 90%;
    position: absolute;
    left: 5%;
    padding: 5px;
    width: 100% box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background: #4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    transition: 0.4s;
    font-family: 'Lato', sans-serif;
}

td:last-child {
    border-right: 0px;
}